.information-page {
  .btn-download{
    background-color: #E53D3D;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    height: 60vh;
    align-content: center;
    cursor: pointer;
    border-radius: 10px;
    span {
      font-size: 2rem;
      font-weight: bold;
      margin-right: 20px;
    }
  }
}
